<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Popup (title)</title>
    <script type="module" src="./popup.js"></script>
    <style>
      BODY {
        margin: 2rem;
      }
      INPUT {
        margin-bottom: 0.5rem;
      }
    </style>
  </head>
  <body>
    <input type="text" placeholder="tag1, tag2, tag3" id="TagsField" /><br />
    <button id="SaveButton">Save Bookmark</button><br />
    <button id="DeleteButton">Remove Bookmark</button>
  </body>
</html>
